/* Off-White page */ 

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap'); 

body {
    background-color: #FAF9F6;
    /* font style for body */
    font-family: 'Roboto', sans-serif;
}

:root {
    --text: center;
}

/* color of h1 title */ 
h1, h2, p {
    text-align: var(--text);
}

p {
    font-size: 18px;
}

/* To center image */ 
#tribute-img, #nike-collab {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

#Github-link {
    text-decoration: none;
    color: #191970;
    text-transform: uppercase;
}

#Github-link :hover {
    color: red;
}

figcaption {
    text-align: var(--text);
}